/* Custom Google Search */

.gsc-control {
	margin-top: 7px;
	width: 270px;
}

.gsc-search-button {
	cursor: pointer;
	text-indent: -9999px;
	border: none;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

td .gsc-search-button {
	background: url("../img/search_off.png") no-repeat right center;
}

.gsc-clear-button {
  display:none;
}

.gsc-branding {
	display: none;
}

#results {
	overflow: hidden;
	background-color: #f7f7f7;
	opacity: 0.95;
	-moz-opacity:.95; 
	filter:alpha(opacity=95);
	background-image: url("../img/google.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	position: absolute;
	width: 1000px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.gsc-resultsbox-visible {
	
}

.gsc-resultsRoot gsc-resultsbox-visible {
	display: none;
}

.gsc-resultsHeader {
	border-bottom-style: groove;
	border-bottom-width: 2px;
	border-bottom-color: white;
}



.gsc-results {
	padding: 20px;
}

.gsc-result {
	margin: 20px;
	width: 200px;
	float:left;
	overflow: hidden;
}

.gs-title {
	text-transform: uppercase;
	font-size:10pt;
}

.gs-result .gs-title, .gs-result .gs-title * {
	text-decoration: none;
	color: #009BFF;	
}

.gsc-results-selector {
	display: none;
}

.gsc-resultsHeader td.gsc-twiddle-opened div.gsc-twiddle {
	background-image: url("../img/arrow_search_open.png");
}

.gsc-resultsHeader td.gsc-twiddle-closed div.gsc-twiddle {
	background-image: url("../img/arrow_search_closed.png");
}
.gsc-resultsHeader .gsc-title {
	padding: 20px;
}

.gsc-cursor-box {
  margin-bottom: 0px;
}

.gsc-cursor {
  font-size: 80%;
  color: gray;
  margin-left: 80px;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: gray;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	/*display: none;*/
}
.gs-snippet {
	color:  #888;
	font-size: 70%;
}

.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
	display: none;
	color: #ccc;
	font-size: 50%;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	font-weight: normal;
	color: #ccc;
}

input.gsc-input {
  border-color: #ccc;
  width: 78%;
}

td.gsc-search-button  {
	width:0px;
}
