---
layout: default
title:  Blog
sidebar: true
---


{% for post in paginator.posts %}
  <div class="snippet">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <small class="meta">
      <span class="grey">Posted 
      <abbr class="timeago" title="{{ post.date | date:"%Y-%m-%d" }}T00:00:00Z"></abbr>
      </span> on {{ post.date | date:"%A, %B %d - %Y" }} ({{ post.content | number_of_words }} words)
    </small>
    <div class="snippet_text sweet-justice">
      {{ post.content | strip_html | truncatewords: 50 }}
      <a href="{{ post.url }}" class="greybg">more...</a>
    </div>
  </div>
  <hr class="space_bottom" />
  
{% endfor %}

<div class="paging">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="greybg onLeft">&#x25C4; Previous</a>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="newer">Newer Posts</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="greybg onRight">Next &#x25BA;</a>
    {% endif %}
  {% endif %}
</div>
<div class="clear"></div>


<script language="javascript" type="text/javascript" defer>
<!--
	/* 
	 * JavaScript 404 redirect
	 * The idea is blatantly copied from 
	 * http://www.alistapart.com/articles/perfect404
	 * to fix my google search results.
	 * (No mod-rewrite on github)
	 */

	if (strReferrer.length != 0) {
		// In the beginning there was Google...			
		if (strReferrer.indexOf("google") > 0) {
		
			// Search parameters
			var arrParams = strReferrer.split("?"); 
			var brokenUrl = arrParams[1];
			arrParams = strSearchTerms.split("&");
			var urlStr = "url="; // Googles URL parameter
			var post; // Requested post of my blog
			
			// Search for requested URL in query string
			for ( i = 0; i < arrParams.length; i++) {
				if (arrParams[i].indexOf(urlStr) == 0) {
					// We’ve found the requested URL!
					brokenUrl = arrParams[i];
					// Get requested post
					post = brokenUrl.substr(str.length-2);
				}
			}
			
			// Redirect to new post location if possible
			var site = "http://matthias-endler.de/";
			switch(post) {
				case "42": 
					window.location.replace(site + "2006/howto-switch-from-linux-to-windows/");
					break;
				default: 
					document.write ("<p>Redirect to post number " + post + " failed...<\/p>");
					break;
			}
		}
	}
	  
// -->
</script>