<link rel="icon" href="/favicon.ico" type="image/ico" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/css/master.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/pygments/light.css" />
<link rel="stylesheet" type="text/css" href="/css/ratingbar.css" /> 
<link rel="stylesheet" type="text/css" href="/css/datatables.css" /> 
<noscript>
  <link href="/css/noscript.css" rel="stylesheet" type="text/css" />
</noscript>

<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.transform-0.6.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.fortune.js"></script>
<script type="text/javascript" src="/js/jquery.timeago.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.ratingbar.js"></script>
<script type="text/javascript" src="/js/jquery.gmsis.js"></script>

<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
