* {
	margin:0;
	padding:0;
}

body {
	font: 1em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	color:#666;
	margin:0;
	border-top:2px solid #8BC 159;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	border-bottom:1px solid black;
	padding:15px 0;
}

h1 {
	padding: 20px 0px 0px 0px;
	margin-bottom: 20px;	
}

h1, h2 {
	font-size:2.8em;
}

h3 {
	padding-left: 20px;
	font-size:1.7em;
}

.intro {
	margin: 10px 300px 100px 100px;
	border:1px solid #eee;
	padding:30px;
}

.content {
	margin: 40px 300px 100px 100px;
	border:1px solid #eee;
	padding:30px;
}

.content p {
	margin:25px 0;
}

#sidebar {
	position: fixed;
	right: 40px;
	color: white;
	border-radius: 10px;
	background-color: #0CF;
	text-shadow: 0 -1px 0 #444;
}

#sidebar ul {
	list-style:none;
}


#sidebar a {
	display: block;
	padding: 20px;
	text-decoration:none;
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
}

#sidebar a:hover {
	background-color: white;
	color: black;
	text-shadow: none;
	border:  1px solid;
	padding-left: 19px;
	padding-right: 19px;
	border-color: #0CF;
	cursor: pointer;
}

#sidebar ul:last-child li:last-child a  {
	border-bottom: none;
}

#sidebar ul:last-child li:last-child a:hover  {
	border-bottom: 1px solid;
	border-color: #0CF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
}

blockquote {
	padding:5px 15px;
	background:#f6f6f6;
	margin:10px 0;
	border:1px solid #eee;
}

code {
	border:1px solid #eee;
	background:#f6f6f6;
}

code p {
	border:1px solid #eee;
	padding:5px 15px;
	margin:20px 0;
	background:#f6f6f6;
	border:1px solid #eee;
}

table {
	display: block;
	background-color: #f6f6f6;
	border: 1px solid #eee;
}