---
# -*- html -*- mode
layout: basic
---
  <!-- begin: main content area -->
  <div id="main">
  	<div id="results">
  	</div>
    <div id="content">
        {{ content }}
    </div>
	{% include sidebar_standard.html %}
    <div class="clear"></div>
  </div>
  <!-- end: main content area -->